@import 'reset';
@import 'vars';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-family: Nunito, sans-serif;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-a {
  color: var(--brown);
  display: flex;
  text-decoration: none;
  font-family: MairyBook;

  &:hover {
    color: var(--textBlue);
  }
}

.active {
  color: var(--textBlue);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: MairyBold;
  color: var(--blue);
  font-size: 4.3rem;
  line-height: 3rem;
  text-decoration: none;
}

/* about */

.about {
  background-color: var(--yellow);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 60rem;
}

.about-title {
  font-size: 3rem;
  font-family: MairyBook;
  color: white;
}

.about-p {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
  color: var(--textBrown);
}

.positioning-about-img {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 18.5rem;
  align-items: center;
}

/* events */

.events-header, .ag-header {
  width: 26rem;
  margin-top: -1.3rem;
  background-image: url(../assets/img/bordershadow_blue.png);
  background-repeat: no-repeat;
  background-position: 97% 13%;
  background-color: var(--blue);
  height: 5.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: center;
}

.card-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
}

.events-title, .agenda-title {
  font-family: MairyBold;
  font-size: 5rem;
  color: white;
}

.event-card-start {
  font-family: MairyBold;
  font-size: 1.6rem;
  color: white;
}

.event-card-img {
  border-radius: 2rem;
  position: relative;
  z-index: -1;
}

.details-img {
  border-radius: 2rem;
}

.event-card-info {
  @apply --my-radius-rect;
  background-image: url(../assets/img/bordershadow_blue.png);
  background-position: 97% 13%;
  border: 3px solid white;
  background-color: var(--blue);
  width: 30rem;
  /* height: 7rem; */
  padding: 1.4rem;
  margin-top: -2rem;
  z-index: 2;

  &:hover {
    background-image: url(../assets/img/bordershadow_darkBlue.png);
    background-position: 97% 87%;
    background-color: var(--darkerBlue);
  }
}

.event-card-title {
  font-size: 2.6rem;
  font-family: MairyBold;
  color: white;
}

.no-results {
  font-size: 2rem;
  color: var(--brown);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* 404 */

.notfound-header {
  background-color: var(--yellow);
}

.notfound-section {
  background-color: var(--yellow);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.notfound-error {
  width: 25rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: white;
}

.notfound-a {
  background-image: url(../assets/img/bordershadow_red.png);
  width: 18rem;
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);

  @apply --my-radius-rect;
  font-size: 3.4rem;
  font-family: MairyBold;
  text-decoration: none;
  color: white;
}

/* footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.6rem;
  font-family: MairyBook;
  color: var(--red);
}

.partner-link div {
  background-image: url(../assets/img/icons_partner.png);
  background-repeat: no-repeat;
}

.vlaanderen-img {
  background-position: 0% 90%;
  width: 12.7rem;
  height: 5.5rem;

  &:hover {
    background-position: 0% 0%;
  }
}

.nmbs-img {
  background-position: 64% 91.2%;
  width: 7.3rem;
  height: 4.7rem;

  &:hover {
    background-position: 64% 10%;
  }
}

.lijn-img {
  background-position: 100% 100%;
  width: 6.6rem;
  height: 6.2rem;

  &:hover {
    background-position: 100% 0%;
  }
}

.social-link div {
  background-image: url(../assets/img/illustrations_icons_social.svg);
  background-repeat: no-repeat;
}

.fb-img {
  background-position: 0% -2%;
  background-size: 335%;
  width: 4.4rem;
  height: 4.3rem;

  &:hover {
    background-position: 0% 99.6%;
  }
}

.tw-img {
  width: 5.2rem;
  height: 4.4rem;
  background-size: 278%;
  background-position: 50% 0%;

  &:hover {
    background-position: 50% 102.1%;
  }

}

.ig-img {
  width: 4.4rem;
  height: 4.4rem;
  background-size: 349%;
  background-position: 100% 0%;

  &:hover {
    background-position: 100% 100%;
  }

}

/* agenda */

.agenda-header {
  background-color: var(--mellowYellow);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.ag-header {
  background-image: url(../assets/img/bordershadow_yellow.png);
  background-color: var(--yellow);
  width: 26rem;
  margin-top: 2rem;
}

.header-illustration {
  position: relative;
}

.agenda-form {
  background-color: var(--yellow);
}

.form-search {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.form-text-input {
  display: flex;
  align-items: center;
}

.form-search-input {
  background-image: url(../assets/img/illustrations_icons_input_search.svg);
  background-size: 8%;
  background-position: 95% 50%;
}

.form-postcode-input {
  background-image: url(../assets/img/illustrations_icons_input_postcode.svg);
  background-size: 7%;
  background-position: 94% 50%;
}

.form-search-input:focus, .form-postcode-input:focus {
  outline: none;
  background-color: white;
}

.form-search-input, .form-postcode-input {
  background-repeat: no-repeat;
  background-color: var(--mellowYellow);
  border: 0;
  border-radius: 2rem;
  height: 4.3rem;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: Nunito;
  color: var(--brown);
}

.form-search-input::placeholder, .form-postcode-input::placeholder {
  color: var(--brown);
}

.tags {
  background-color: #ffde67;
  height: 6rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* float: left; */
  width: 100vw;
  overflow: auto;
  overflow-y: hidden;
}

.days {
  height: 5.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.day-label {
  font-family: MairyBook;
  color: var(--mellowYellow);
  font-size: 1.6rem;
  background-color: #efba19;
  text-align: center;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.day-label:hover, .day-check:checked + label {
  border-bottom: .4rem solid white;
  background-color: var(--blue);
  color: white;
}

.tag-check:checked + label {
  background-image: url(../assets/img/bordershadow_blue.png);
  background-repeat: no-repeat;
  background-position: 93% 10%;
  background-color: var(--blue);
  color: white;
}

.label5, .label14 {
  display: none;
}

.tag-label {
  margin-left: .5rem;
  margin-right: .5rem;
  height: 5rem;
  text-transform: uppercase;
  font-family: MairyBook;
  padding-top: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  background-color: var(--mellowYellow);
  border-radius: 2rem;
  font-size: 2.5rem;
  color: var(--brown);
}

/* detail */

.details-header {
  display: grid;
  grid-gap: 1rem;
  grid-column: 1 / span 2;
  align-items: flex-end;
  margin-left: 9vw;
}

.detail-header-title {
  font-size: 3.5rem;
  grid-row: 2;
  text-transform: uppercase;
  font-family: MairyBold;
}

.breadcrumbs {
  margin-top: 2rem;
  color: var(--textBrown);
  font-size: 1.6rem;

  & a {
    color: var(--textBrown);
    text-decoration: none;

    &:hover {
      background-color: var(--blue);
    }
  }
}

.details-text {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.details-content, .details-practical {

  & strong {
    background-color: var(--blue);
    font-weight: bold;
  }

  & span {
    color: var(--brown);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.details-section {
  background-color: var(--yellow);
  color: white;
}

.details-article {
  display: grid;
}

.details {
  background-color: var(--blue);
  background-image: url(../assets/img/bordershadow_blue.png);
  background-repeat: no-repeat;
  border-radius: 2rem;
  background-position: 97% 4%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 2rem 3rem;

  flex-flow: column nowrap;
}

.detail-header-h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.details-address::before, .details-datum::before, .details-uur::before {
  display: block;
  content: '';
  background-image: url(../assets/img/illustrations_icons_detail.svg);
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.8rem;
  background-size: 322%;
  margin-right: .5rem;
}

.details-date {
  /* width: 24rem; */
  justify-content: space-between;
}

.details-datum::before {
  background-position: 45% 0%;
}

.details-uur::before {
  background-position: 100% 0%;
  background-size: 293%;
  width: 1.7rem;
}

.details-address, .details-date, .details-datum, .details-uur, .details-tag {
  display: flex;
  align-items: center;
}

.details-link {
  color: var(--brown);
}

.details-tag::before {
  display: block;
  content: '';
  background-image: url(../assets/img/illustrations_icon_tag.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .8rem;
}

@media only screen and (min-width: 1025px) {

  .header-container {
    justify-content: space-between;
    width: 90vw;
    height: 8rem;
  }

  .navigation {
    width: 30vw;
  }

  .nav-a {
    width: 15vw;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .events-home, .events-agenda {
    display: grid;
    grid-template-columns: repeat(3, 34rem);
    justify-content: center;
    grid-gap: 1.5rem;
  }

  .results-space {
    height: 3rem;
  }

  .events-home {
    height: 40rem;
  }

  .home-event1 {
    display: none;
  }

  .home-event4 {
    grid-column: 1;
  }

  .about {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .article-about {
    width: 35vw;
  }

  .about-p {
    width: 20vw;
  }

  .dagen {
    height: 67rem;
  }

  .dag-img {
    width: 100%;
  }

  .dagen-article {
    width: 32rem;
  }

  .dag-button {
    width: 23rem;
  }

  /* agenda */

  .form-basic {
    height: 17rem;
    display: flex;
    width: 95vw;
    align-self: center;
    /* align-items: center; */
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .form-text-input {
    flex-flow: row wrap;
    height: 12rem;
    width: 60rem;
    justify-content: space-around;
  }

  .form-search-input, .form-postcode-input {
    width: 28rem;
  }

  .days {
    align-self: flex-end;
    width: 45vw;
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .day-label {
    width: 10vw;
  }

  /* details */

  .details-article {
    grid-template-columns: 40vw 50vw;
    grid-template-rows: repeat(5, min-content);
    grid-gap: 2rem;
  }

  .details-section {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
  }

  .details-list {
    width: 40vw;
  }

  .details {
    width: 32rem;
  }

  .details-text {
    display: grid;
    grid-gap: 1rem;
    align-self: flex-start;
    grid-column: 2;
    grid-row: 2 / span 3;
  }

  .details-content, .details-practical {
    align-self: flex-start;
    width: 38vw;
  }

  .details-img-div {
    grid-row: 2;
    height: 21.4rem;
    display: flex;
    justify-content: center;
  }

  .notfound-section {
    height: 24rem;
  }

  /* footer */

  .footer {
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 9rem;
  }

  .partners .links, .social .links {
    display: flex;
  }

  .social .links {
    display: flex;
    justify-content: space-between;
    width: 16rem;
  }

}

@media only screen and (max-width: 1024px) {

  .header-container {
    justify-content: space-between;
    width: 90vw;
    height: 8rem;
  }

  .nav-a {
    width: 18vw;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .events-home, .events-agenda {
    display: grid;
    grid-template-columns: repeat(2, 37rem);
    justify-content: center;
    grid-gap: 1rem;
  }

  .results-space {
    height: 3rem;
  }

  .home-event1 {
    display: block;
    grid-column: 1;
  }

  .about {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .about-article {
    width: 35vw;
  }

  .about-p {
    width: 30vw;
  }

  .dagen {
    height: 67rem;
  }

  .dag-img {
    width: 23rem;
  }

  .dagen-article {
    width: 31vw;
  }

  .dag-button {
    width: 23rem;
  }

  /* agenda */

  .form-basic {
    height: 17rem;
    display: flex;
    /* align-items: center; */
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .form-text-input {
    flex-flow: row wrap;
    height: 12rem;
    width: 60rem;
    justify-content: space-around;
  }

  .form-search-input, .form-postcode-input {
    width: 28rem;
  }

  .days {
    align-self: flex-end;
    width: 70vw;
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .day-label {
    width: 15vw;
  }

  /* details */

  .details-article {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, min-content);
    grid-gap: 2rem;
  }

  .details-section {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
  }

  .details-list {
    width: 50vw;
  }

  .details-text {
    display: grid;
    grid-gap: 1rem;
    align-self: flex-start;
    grid-column: 2;
    grid-row: 2 / span 3;
  }

  .details-content, .details-practical {
    width: 40vw;
  }

  .details-img-div {
    grid-row: 2;
    height: 21.4rem;
    display: flex;
    justify-content: center;
  }

  .notfound-section {
    height: 26rem;
  }

  /* footer */

  .footer {
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 9rem;
  }

  .partners .links, .social .links {
    display: flex;
  }

  .social .links {
    display: flex;
    justify-content: space-between;
    width: 16rem;
  }

}

@media only screen and (max-width: 749px) {

  /* header */

  .header-container {
    justify-content: space-between;
    width: 90vw;
    height: 8rem;
  }

  .nav-a {
    width: 18vw;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .events-home, .events-agenda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .results-space {
    height: 3rem;
  }

  .article-about {
    width: 25rem;
  }

  .about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 67rem;
  }

  .home-event1 {
    display: block;
    grid-column: 1;
  }

  .home-event4 {
    grid-column: 2;
  }

  .dagen {
    height: 118rem;
  }

  .dagen-article {
    width: 47vw;
  }

  .strapdag {
    width: 53vw;
  }

  .dag-button {
    width: 23rem;
  }

  /* agenda */

  .form-basic {
    height: 17rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .form-text-input {
    flex-flow: row wrap;
    height: 12rem;
    width: 60rem;
    justify-content: space-around;
  }

  .form-search-input, .form-postcode-input {
    width: 28rem;
  }

  .days {
    align-self: center;
    width: 90vw;
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .day-label {
    width: 20vw;
  }

  .notfound-section {
    height: 24rem;
  }

  /* details */

  .details-article {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .details-section {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
  }

  .details-list {
    width: 50vw;
  }

  .details-text {
    display: grid;
    grid-gap: 1rem;
    align-self: center;
    grid-column: 1 / span 2;
    grid-row: 4;
    justify-content: center;
  }

  .details-content, .details-practical {
    /* width: 85vw; */
    margin-bottom: 3rem;
    width: 95vw;
  }

  .details-img-div {
    grid-row: 2;
    display: flex;
    justify-content: center;
  }

  .detail-space {
    height: 3rem;
  }

  /* footer */

  .footer {
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 9rem;
  }

  .partners .links, .social .links {
    display: flex;
  }

  .social .links {
    display: flex;
    justify-content: space-between;
    width: 16rem;
  }

}

@media only screen and (max-width: 570px) {

  .events-home, .events-agenda {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  /* header */

  .header-container {
    justify-content: space-around;
    width: 100vw;
    height: 8rem;
  }

  .nav-a {
    width: 25vw;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .active {
    border-bottom: 3px solid var(--blue);
    height: 8rem;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-icon {
    background-image: url(../assets/img/illustrations_icons_navigation.svg);
  }

  .agenda .nav-icon {
    background-size: 325%;
    width: 4rem;
    height: 4.4rem;

    &:hover {
      background-position: 0% 100%;
    }
  }

  .praktisch .nav-icon {
    background-size: 294%;
    width: 4.6rem;
    height: 4.4rem;
    background-position: 45% 2%;

    &:hover {
      background-position: 45% 100%;
    }
  }

  .nieuws .nav-icon {
    background-size: 295%;
    width: 4.6rem;
    height: 4.4rem;
    background-position: 96% 2%;

    &:hover {
      background-position: 96% 100%;
    }
  }

  /* about */

  .about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 90rem;
  }

  .about-p {
    width: 28.5rem;
  }

  .article-about {
    height: 27rem;
    width: 28.5rem;
  }

  .positioning-about-img {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 15.5rem;
  }

  /* events */

  .results-space {
    height: 2rem;
  }

  .home-event4 {
    grid-column: 1;
  }

  .event-card {
    display: flex;
    justify-content: center;
  }

  .events-title {
    width: 20rem;
  }

  /* dagen */

  .dagen {
    height: 180rem;
  }

  .dagen-article {
    width: 90vw;
  }

  .dag-button {
    width: 80vw;
  }

  /* footer */

  .footer {
    height: 22rem;
    justify-content: center;
  }

  .partners {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    & h3 {
      width: 93vw;
    }
  }

  .links {
    display: flex;
    width: 93vw;
    justify-content: space-around;
  }

  .social .links {
    width: 70vw;
  }

  /* agenda */

  .form-basic {
    height: 23rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .form-text-input {
    flex-flow: column wrap;
    height: 12rem;
    justify-content: space-around;
  }

  .form-search-input, .form-postcode-input {
    width: 28rem;
  }

  .days {
    align-self: center;
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .day-label {
    width: 22vw;
  }

  /* details */

  .details-article {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-rows: repeat(6, mincontent);
  }

  .detail-header-title {
    width: 85vw;
  }

  .details {
    width: 85vw;
  }

  .details-section {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
  }

  .details-list {
    width: 36rem;
  }

  .details-text {
    align-items: center;
  }

  .details-content, .details-practical {
    width: 85vw;
    margin-bottom: 3rem;
  }

  .details-img-div {
    grid-row: 2;
    display: flex;
    justify-content: center;
  }

  .notfound-section {
    height: 24rem;
  }

}

.header-home {
  background-color: var(--yellow);
}

.article-about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.dagen {
  background-color: var(--blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.dagen-article {
  background-color: white;
  border-radius: 2rem;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1.5rem;
}

.carfree .date-border {
  width: 22rem;
}

.date-border {
  background-color: var(--blue);
  color: white;
  height: 4rem;
  width: 10rem;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 2rem;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

.dag-div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 48rem;
}

.dag-title {
  font-size: 3.5rem;
  font-family: MairyBook;
  color: var(--red);
}

.dag-p {
  font-size: 1.7rem;
  text-align: center;
  color: var(--textBrown);
}

.dag-button {
  @apply --my-radius-rect;
  align-items: center;
  height: 4.5rem;
  justify-content: center;
  background-color: var(--yellow);
  font-size: 2.8rem;
  font-family: MairyBook;
  color: var(--textBrown);
  background-image: url(../assets/img/bordershadow_yellow.png);

  &:hover {
    color: white;
    background-color: var(--blue);
    background-image: url(../assets/img/bordershadow_blue.png);
  }
}
