@import 'reset';
@import 'vars';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-family: Nunito, sans-serif;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  border-bottom: 3px solid var(--blue);
  height: 8rem;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 25vw; */
}

.nav-a {
  color: var(--brown);
  display: flex;
  text-decoration: none;
  font-family: MairyBook;

  &:hover {
    color: var(--textBlue);
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: MairyBold;
  color: var(--blue);
  font-size: 4.3rem;
  line-height: 3rem;
  text-decoration: none;
}

/* about */

.about {
  background-color: var(--yellow);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 60rem;
}

.about-title {
  font-size: 3rem;
  font-family: MairyBook;
  color: white;
}

.about-p {
  width: 28.5rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
  color: var(--textBrown);
}

.positioning-about-img {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 18.5rem;
}

.overstap {

  & .positioning-about-img {

    align-items: center;
  }
}

/* events */

.events-header, .ag-header {
  background-image: url(../assets/img/bordershadow_blue.png);
  background-repeat: no-repeat;
  background-position: 97% 13%;
  background-color: var(--blue);
  height: 5.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: center;
}

.card-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
}

.events-title, .agenda-title {
  font-family: MairyBold;
  font-size: 5rem;
  color: white;
}

.event-card-start {
  font-family: MairyBold;
  font-size: 1.6rem;
  color: white;
}

.event-card-img {
  border-radius: 2rem;
  position: relative;
  z-index: -1;
}

.details-img {
  border-radius: 2rem;
}

.event-card-info {
  @apply --my-radius-rect;
  background-image: url(../assets/img/bordershadow_blue.png);
  background-position: 97% 13%;
  border: 3px solid white;
  background-color: var(--blue);
  width: 30rem;
  /* height: 7rem; */
  padding: 1.4rem;
  margin-top: -2rem;
  z-index: 2;

  &:hover {
    background-image: url(../assets/img/bordershadow_darkBlue.png);
    background-position: 97% 87%;
    background-color: var(--darkerBlue);
  }
}

.event-card-title {
  font-size: 2.6rem;
  font-family: MairyBold;
  color: white;
}

.no-results {
  font-size: 2rem;
  color: var(--brown);
}

/* 404 */

.notfound-header {
  background-color: var(--yellow);
}

.notfound-section {
  background-color: var(--yellow);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.notfound-error {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: white;
}

.notfound-a {
  background-image: url(../assets/img/bordershadow_red.png);
  width: 18rem;
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);

  @apply --my-radius-rect;
  font-size: 3.4rem;
  font-family: MairyBold;
  text-decoration: none;
  color: white;
}

/* footer */

.partner-link div {
  background-image: url(../assets/img/icons_partner.png);
  background-repeat: no-repeat;
}

.vlaanderen-img {
  background-position: 0% 90%;
  width: 12.7rem;
  height: 5.5rem;

  &:hover {
    background-position: 0% 0%;
  }
}

.nmbs-img {
  background-position: 64% 91.2%;
  width: 7.3rem;
  height: 4.7rem;

  &:hover {
    background-position: 64% 10%;
  }
}

.lijn-img {
  background-position: 100% 100%;
  width: 6.6rem;
  height: 6.2rem;

  &:hover {
    background-position: 100% 0%;
  }
}

.social-link div {
  background-image: url(../assets/img/illustrations_icons_social.svg);
  background-repeat: no-repeat;
}

.fb-img {
  background-position: 0% -2%;
  background-size: 335%;
  width: 4.4rem;
  height: 4.3rem;

  &:hover {
    background-position: 0% 99.6%;
  }
}

.tw-img {
  width: 5.2rem;
  height: 4.4rem;
  background-size: 278%;
  background-position: 50% 0%;

  &:hover {
    background-position: 50% 102.1%;
  }

}

.ig-img {
  width: 4.4rem;
  height: 4.4rem;
  background-size: 349%;
  background-position: 100% 0%;

  &:hover {
    background-position: 100% 100%;
  }

}

/* agenda */

.agenda-header {
  /* height: 29rem; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.ag-header {
  background-image: url(../assets/img/bordershadow_yellow.png);
  background-color: var(--yellow);
  width: 26rem;
  margin-top: 2rem;
}

.header-illustration {
  position: relative;
}

.agenda-form {
  background-color: var(--yellow);
}

.form-search {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.form-text-input {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-search-input {
  background-image: url(../assets/img/illustrations_icons_input_search.svg);
  background-size: 8%;
  background-position: 95% 50%;
}

.form-postcode-input {
  background-image: url(../assets/img/illustrations_icons_input_postcode.svg);
  background-size: 7%;
  background-position: 94% 50%;
}

.form-search-input:focus, .form-postcode-input:focus {
  outline: none;
  background-color: white;
}

.form-search-input, .form-postcode-input {
  background-repeat: no-repeat;
  background-color: var(--mellowYellow);
  border: 0;
  border-radius: 2rem;
  height: 4.3rem;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: Nunito;
  color: var(--brown);
}

.form-search-input::placeholder, .form-postcode-input::placeholder {
  color: var(--brown);
}

.tags {
  background-color: #ffde67;
  height: 6rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* float: left; */
  width: 100vw;
  overflow: auto;
  overflow-y: hidden;
}

.tag-check:checked + label {
  background-image: url(../assets/img/bordershadow_blue.png);
  background-repeat: no-repeat;
  background-position: 93% 10%;
  background-color: var(--blue);
  color: white;
}

.day-label {
  font-family: MairyBook;
  color: var(--mellowYellow);
}

.tag-label {
  margin-left: .5rem;
  margin-right: .5rem;
  height: 5rem;
  text-transform: uppercase;
  font-family: MairyBook;
  padding-top: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  background-color: var(--mellowYellow);
  border-radius: 2rem;
  font-size: 2.5rem;
  color: var(--brown);
}

/* detail */

.details-header {
  display: grid;
  /* height: 7rem; */
  grid-gap: 1rem;
  align-items: flex-end;
  justify-content: center;
}

.detail-header-title {
  font-size: 3.5rem;
  grid-row: 2;
  text-transform: uppercase;
  font-family: MairyBold;
}

.breadcrumbs {
  margin-top: 2rem;
  color: var(--textBrown);
  font-size: 1.6rem;

  & a {
    color: var(--textBrown);
    text-decoration: none;

    &:hover {
      background-color: var(--blue);
    }
  }
}

.details-section {
  background-color: var(--yellow);
  color: white;
  position: relative;
}

.details-article {
  display: grid;
}

.details {
  background-color: var(--blue);
  background-image: url(../assets/img/bordershadow_blue.png);
  background-repeat: no-repeat;
  border-radius: 2rem;
  background-position: 97% 4%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 2rem 3rem;

  flex-flow: column nowrap;
}

.detail-header-h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.details-address::before, .details-datum::before, .details-uur::before {
  display: block;
  content: '';
  background-image: url(../assets/img/illustrations_icons_detail.svg);
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.8rem;
  background-size: 322%;
  margin-right: .5rem;
}

.details-date {
  /* width: 24rem; */
  justify-content: space-between;
}

.details-datum::before {
  background-position: 45% 0%;
}

.details-uur::before {
  background-position: 100% 0%;
  background-size: 293%;
  width: 1.7rem;
}

.details-address, .details-date, .details-datum, .details-uur, .details-tag {
  display: flex;
  align-items: center;
}

.details-link {
  color: var(--brown);
}

.details-tag::before {
  display: block;
  content: '';
  background-image: url(../assets/img/illustrations_icon_tag.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .8rem;
}

@media only screen and (min-width: 1024px) {

  .svg-header-mobile {
    display: none;
  }

  @keyframes translate {

    0% {
      transform: translateX(90rem);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes translateback {

    0% {
      transform: translateX(-40rem);
    }

    100% {
      transform: translateX(0);
    }
  }

  .navigation {
    width: 55rem;
  }

  .header-container {
    justify-content: space-betweem;
    width: 86vw;
    height: 9rem;
  }

  .nav-a {
    font-size: 3.6rem;

    &:hover {
      text-decoration: underline;
    }

  }

}

@media only screen and (max-width: 768px) {

  .header-container {
    justify-content: space-around;
    width: 100vw;
    height: 8rem;
  }

  .nav-a {
    width: 25vw;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}

@media only screen and (max-width: 570px) {
  @keyframes translate {

    0% {
      transform: translateX(20em);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes translateback {

    0% {
      transform: translateX(-20rem);
    }

    100% {
      transform: translateX(0);
    }
  }

  /* header */

  .header-container {
    justify-content: space-around;
    width: 100vw;
    height: 8rem;
  }

  .nav-a {
    width: 25vw;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .nav-icon {
    background-image: url(../assets/img/illustrations_icons_navigation.svg);
  }

  .agenda .nav-icon {
    background-size: 325%;
    width: 4rem;
    height: 4.4rem;

    &:hover {
      background-position: 0% 100%;
    }
  }

  .praktisch .nav-icon {
    background-size: 294%;
    width: 4.6rem;
    height: 4.4rem;
    background-position: 45% 2%;

    &:hover {
      background-position: 45% 100%;
    }
  }

  .nieuws .nav-icon {
    background-size: 295%;
    width: 4.6rem;
    height: 4.4rem;
    background-position: 96% 2%;

    &:hover {
      background-position: 96% 100%;
    }
  }

  /* about */

  .about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 105.2rem;
  }

  .article-about {
    height: 27rem;
  }

  .positioning-about-img {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 15.5rem;
  }

  .overstap {

    margin-top: -5rem;

    & .positioning-about-img {
      align-items: flex-end;
    }
  }

  /* events */

  .events-home {
    display: grid;
    grid-gap: 2rem;
  }

  .results-space {
    height: 2rem;
  }

  .results .events-agenda {
    display: grid;
    grid-gap: 2rem;
  }

  .event-card {
    display: flex;
    justify-content: center;
  }

  .events-header {
    width: 26rem;
    margin-top: -1.3rem;
  }

  .events-title {
    width: 20rem;
  }

  .no-results {
    text-align: center;
  }

  /* dagen */

  .dagen {
    display: flex;
    flex-flow: column nowrap;
    height: 200rem;
    justify-content: space-around;
  }

  .dagen-article {
    background-color: white;
    border-radius: 2rem;
    width: 90vw;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 1.5rem;
  }

  .carfree .date-border {
    width: 22rem;
  }

  .date-border {
    background-color: var(--blue);
    color: white;
    height: 4rem;
    width: 10rem;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 2rem;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
  }

  .dag-div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 48rem;
  }

  .dag-title {
    font-size: 3.5rem;
    font-family: MairyBook;
    color: var(--red);
  }

  .dag-p {
    font-size: 1.7rem;
    text-align: center;
    color: var(--textBrown);
  }

  .dag-button {
    @apply --my-radius-rect;

    align-items: center;
    width: 80vw;
    height: 4.5rem;
    justify-content: center;
    background-color: var(--yellow);
    font-size: 2.8rem;
    font-family: MairyBook;
    color: var(--textBrown);
    background-image: url(../assets/img/bordershadow_yellow.png);

    &:hover {
      color: white;
      background-color: var(--blue);
      background-image: url(../assets/img/bordershadow_blue.png);
    }
  }

  /* footer */

  .footer {
    display: flex;
    flex-flow: row wrap;
    height: 22rem;
    justify-content: center;
    font-size: 1.6rem;
    font-family: MairyBook;
  }

  .partners {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    & h3 {
      color: var(--red);
      width: 93vw;
    }
  }

  .links {
    display: flex;
    width: 93vw;
    justify-content: space-around;
  }

  /* agenda */

  .form-basic {
    height: 23rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .form-text-input {
    height: 12rem;
    justify-content: center;
  }

  .form-search-input, .form-postcode-input {
    width: 28rem;
  }

  .days {
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

  }

  .day-label {
    font-size: 1.6rem;
    background-color: var(--red);
    width: 22vw;
    text-align: center;
    height: 5.5rem;
    /* padding: .5rem; */
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .day-label:hover, .day-check:checked + label {
    background-color: var(--blue);
    color: var(--mellowYellow);
  }

  /* details */

  .details-article {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-rows: repeat(6, mincontent);
  }

  .detail-header-title {
    width: 85vw;
  }

  .details {
    width: 85vw;
  }

  .details-section {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
  }

  .details-text {
    grid-row: 4;
    font-size: 1.6rem;
    line-height: 2.2rem;
    align-items: center;
  }

  .details-content, .details-practical {
    width: 85vw;
    margin-bottom: 3rem;

    & strong {
      background-color: var(--blue);
      font-weight: bold;
    }
  }

  .details-img-div {
    grid-row: 2;
    display: flex;
    justify-content: center;
  }

  .notfound-section {
    height: 16rem;
  }

}

.tram {
  animation: translate 1s ease-out normal;
}

.skateboard {
  animation: translateback 1.2s ease-out normal;
}

.header-home, .agenda-header {
  background-color: var(--mellowYellow);
}

.article-about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.dagen {
  background-color: var(--blue);
}
